<ion-view title="" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        
        <h1 id="profile-heading1" style="color:#000000;" class=" ">
            {{profileObject.childName}}
        </h1>

        <img id="imgPreview" src='{{getDownloadLink()}}'>

        <div id="fileDeets">
            <p><strong>File Path:</strong> {{profileObject.domainObject.absolutePath}}</p>
            <p><strong>File Size:</strong> {{profileObject.domainObject.displayDataSize}}</p>
            <p><strong>File Type:</strong> {{profileObject.mimeType}}</p>
            <p><strong>Created:</strong> {{profileObject.domainObject.createdAt}}</p>
            <p><strong>Last Modified:</strong> {{profileObject.domainObject.modifiedAt}}</p>
            <p><strong>Owner:</strong> {{profileObject.domainObject.dataOwnerName}}</p>
            <p><strong>Zone:</strong> {{profileObject.domainObject.dataOwnerZone}}</p>
            <p><strong>ID:</strong> {{profileObject.domainObject.id}}</p>
            <br>
            <p ng-show="hasComments()"><strong>Description:</strong> {{profileObject.domainObject.comments}}</p>
        </div>
        <!-- <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>

        <ion-list id="profile-list5" class=" ">
            <ion-item id="profile-list-item7" class="  ">Item 1</ion-item>
            <ion-item id="profile-list-item8" class="  ">Item 2</ion-item>
            <ion-item id="profile-list-item9" class="  ">Item 3</ion-item>
        </ion-list> -->
    </ion-content>
</ion-view>