<ion-view title="Profile" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="profile-heading1" style="color:#000000;" class=" ">Heading</h1>
        <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <p id="profile-markdown1" style="color:#000000;" class=" ">Some friendly
            <strong>markdown</strong>
        </p>
        <ion-list id="profile-list5" class=" ">
            <ion-item id="profile-list-item7" class="  ">Item 1</ion-item>
            <ion-item id="profile-list-item8" class="  ">Item 2</ion-item>
            <ion-item id="profile-list-item9" class="  ">Item 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>