@charset "UTF-8";
/* CSS Document */


.login-form {
	text-align: center;
	width: 80%;
	margin: 60px auto 0;
}

.login-input {
	width: 100%;
	margin: 0 auto;
	outline: none;
	padding-top: 24px;
	padding-bottom:0;
	border-left:none;
	border-right:none;
	border-top:none;
}

.login-button{
	background-color:transparent;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:2px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-size:17px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}
.login-button:hover {
	color:#777;
}
.menuButton{
	color:#FFF;
}

.toolBar{
	background-color:#F05022;
}

.collectionName{
	font-weight:bold;
	color:#777;
}

.fileName{
	color:#777;
}

.icon{
	color:#F05022;
}

.center{
	color:#FFF;
}

.menuIcon{
	color:#F05022;

}

.backButton{
	color:#F05022;
}

.listHeader{
	color:#FFF;
	background-color:#F05022;
}

.listItem{
	color:#777;
}

.search_box{
	margin-top: 50px;
	padding-left: 10px;
	width:100%;
	border-radius:10px;
	border: solid 1px #2196f3;

	/*border: #777;*/
}

.content_page{
	padding-top: 60px;
	padding-left: 15px;
	padding-right: 15px;
	left:5%
	transform: translate(-5%);
}

.selector {
	position: fixed;
	bottom: 0;
	height: 40px;
	left: 0;
	width: 100%;
	fill: #1aa9c0;
	float:bottom;
	vertical-align: middle;
	background-color: #1aa9c0;
}

.left {
	text-align: left;
}

.leftButton{
	float:left;
	width:49%;
	padding-left:5%;
	padding-top:3%;
	color: white;
	vertical-align: middle;
	position:absolute;
}

.rightButton{
	float:right;
	padding-right:5%;
	padding-top:3%;
	color: white;
	vertical-align: middle;
}

.selector{
	background-color: #777;
	text-align: center;
	color: white;
}

.renamer{
	display: none;
	padding: 5px;
	height: 100%;
	background-color: #bfbfbf;
	border-radius: 25px;
}

.rename_container{
	padding-top:10px;
}

.deleter{
	position:fixed;
	max-height:150px;
	display: none;
	width: 70%;
	padding: 5px 5px 0 0;
	background-color: #bfbfbf;
	border-radius: 25px;
	z-index: 99;
	/*transform: translate(0,-700px);*/

}

.delete_container{
	margin-top: 10px;
	min-height: 70px;
}

.delete_header{
	margin-left:5%;
	margin-bottom:2%;
	float:left;
}

.subText{
	font-size: smaller;
}

.column_content{

}

.pop_up_window_delete{
	margin-left: 10%;
	width: 70%;
	align-self: center;
	align-content: center;
	text-align: center;
	display: none;
	background-color: #bfbfbf;
	z-index: 14;
	position: fixed;
	top: 100px;
	border-radius: 25px;

	-webkit-filter: blur(0px);
	/*-moz-filter: blur(20px);*/
	/*-o-filter: blur(20px);*/
	/*-ms-filter: blur(20px);*/
	filter: blur(0px);
	opacity: 0.9;
}

.pop_up_window_rename{
	margin-left: 10%;
	width: 70%;
	align-self: center;
	align-content: center;
	text-align: center;
	display: none;
	background-color: #bfbfbf;
	z-index: 14;
	position: fixed;
	top: 100px;
	border-radius: 25px;

	min-height:100px;
	-webkit-filter: blur(0px);
	/*-moz-filter: blur(20px);*/
	/*-o-filter: blur(20px);*/
	/*-ms-filter: blur(20px);*/
	filter: blur(0px);
	opacity: 0.9;
}

.pop_up_window_upload{
	margin-left: 10%;
	width: 70%;
	align-self: center;
	align-content: center;
	text-align: center;
	display: none;
	background-color: #bfbfbf;
	z-index: 14;
	position: fixed;
	top: 100px;
	border-radius: 25px;

	min-height:100px;
	-webkit-filter: blur(0px);
	/*-moz-filter: blur(20px);*/
	/*-o-filter: blur(20px);*/
	/*-ms-filter: blur(20px);*/
	filter: blur(0px);
	opacity: 0.9;
}

.popup_button_container{
	bottom: 0px;
	width:70%;
	border-radius: 25px;
	transform: translate(5%);
}

.popup_button_cancel{
	margin-top: 0%;
	margin-left:10px;
	padding: 2% 30px 2% 30px;
	float: left;
	border-style: solid;
	border: 2px;
	width:30px;
	text-decoration: none;
}
.popup_button_okay{
	margin-top: 0%;
	padding: 2% 30px 2% 30px;
	float:right;
	border-style: solid;
	border: 2px;
	width:30px;
	color:green;
	text-decoration: none;
}

.popup_button_delete{
	margin-top: 0%;
	padding: 2% 30px 2% 30px;
	float:right;
	border-style: solid;
	border: 2px;
	width:30px;
	color: red;
	text-decoration: none;
}

.profileImg{
	width: 100px;
	float: left;
}

.profileList{
	/*float: right;*/
	padding-left:55px;
}

.profileListDiv{
	/*padding-left:200px;*/
	/*width: 100%;*/
	/*text-align: center;*/
}

.profileListUL{
	position: static;
	margin-left: 50px;
	text-align: center;
	align-content: center;
	/*position: relative;*/
	/*margin: auto;*/



	/*reddit contribution below
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	/*end*/
}

.profileBut{
	display:inline;
}

.profileImg{
	display:inline;
	width:60px;
	padding-left:7px;
	padding-right:7px;
}

.profileDets{
	/*position: fixed;*/
	float: top;
	margin: 0 auto;
}

.profileTitle{
	float: top;
	left:50%;
}

.renameList{
	list-style-type: none;
	margin-top: 10px;
	padding-right: 45px;
}

.sr{
	font-size: 16px;
}

.sd{
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom: thin;
}

.dropdown-menu-item{
	font-size: large;
	text-decoration: none;
	padding: 10px;
}

.dropdown-menu-item-anchor{
	text-decoration:none;
}

.imgPreview{
	/*border-top: solid lightgrey 1px;*/
	padding-top: 15px;
}
.filePreview{
	padding-top: 40px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	display: none;
}


.subColFooter{
	margin: auto;
	width: 60%;
	padding-bottom: 35px;
	text-align: center;
	font-size: large;
	color: darkgrey;
}

#new_renaming_name{
	width: 80%;
}

.upload_button_cntr{
	position: fixed;
	z-index: 1;
	float: right;
	right: 10px;
	bottom: 25px;
}

.subcol_upload_button{
	width: 55px;
	height:55px;
	font-size: larger;
	font-weight: bold;
	background-color: #1e82f4;
	color: white;
	border-radius: 100%;
	position: relative;
	z-index: 10;
}

.upload_button_ok{
	text-decoration: none;
	margin: 20px 0px 10px 50px;
	color: green;
}

.upload_button_cancel{
	text-decoration: none;
	margin: 20px 50px 10px 0px;
}

.upload_container_result{
	height: 30px;
	bottom: 10px;
	align-content: center;
	margin-top: 80px;
}

.upload_container{
	height: 30px;
}

.fileToUpld{
	margin: 5px 5px 10px 5px;
}

.upload_txt{
/*	margin-top: 10px; 
	width:80%;*/
	text-align: center;
	margin-top: 10px;
	margin: 10px, 10px, 0px, 10px;

}

#uploadPlus{
	transition: .3s transform;
}

.metaData{

	text-align: center;
	padding-bottom: 50%;
	max-width: 100%;
}

.metaDataTable{
	margin: 0 auto;
	width: 95%;	
	overflow: scroll;
}

#mdHeader{
	background-color: #2196f3;
	color: white;
	font-weight: bold;
}

#mdAdder{
	background-color: #b4b4b4;
}

.metaDataRow:nth-child(even){
	background-color: #f2f2f2;
}

.metaDataRow{
}

.metaDataColumn{
	padding-left: 4px;
	padding-right: 4px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	max-width: 140px;
	overflow: scroll;
}

#new_metadata_value, #new_metadata_attribute, #new_metadata_unit{
	border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid black;
    width: 100%;
}

.mdAddButton{
	border-radius: 50%;
	border: 1px solid green;
	width: 25px;
	height: 25px;
	background: transparent;
	color: green;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
	line-height: 25px;
}

.mdAddButton:hover{
	color:white;
	background-color: green;
}

.mdRemoveButton{
	border-radius: 50%;
	width: 25px;
	height: 25px;
	border: 1px solid red;
	background: transparent;
	color: red;
	font-weight: bold;
	vertical-align: middle;
	line-height: 25px;
	text-align: center;

}

.mdRemoveButton:hover{
	color: black;
	background-color: red;
}

.subColSearch{
	border: 1px #2196f3;
	border-radius: 5px;
}
